/* Gerais */

* {  
  scroll-behavior: smooth;
}

body {
	font-size: 1.0em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1.5rem;
  font-weight: 300; 
}

h1 { font-size: 3rem;}
h2 { font-size: 1.8rem;}
h3 { font-size: 1.6rem;}
h4 { font-size: 1.4rem;}
h5 { font-size: 1.2rem;}
h6 { font-size: 1.0rem;}

p {
	margin-top: 0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB; 
}
a:hover {
	color: #0FA0CE; 
}

img {
	width: 100%;
	height: auto;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


button {
	background-color: #000;
	border: none;
	border-radius: 3px;
	color: #fff;
	height: auto;
	padding: 8px 37px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 0.8rem;
}


button:hover, button:focus {
	background-color: #fff;
	color: #000;
}

button.light {
	background-color: #fff;
	color: #000;
}

button.light:hover, button.light:focus {
	background-color: #000;
	color: #fff;
}

.section-title {
  text-transform: uppercase;
	margin-bottom: 70px;
}


/* --------------- Navbar --------------- */

.bg-black {
  background-color: #0f0f0f;
}

.nav-section {  
  height: 80px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 999;  
}

.logo{
  max-height: 80px;
	max-width: 180px;
	padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul li {
  min-width: 90px;
  max-width: 160px;
  margin-right: 20px;
}

.navbar a {  
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  font-size: 1.2rem;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.header-button:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 125%;
  height: 2px;
  width: 120%;
  opacity: 0;
background-color: white; /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
.header-button:hover, .header-button:active, .header-button:focus {
  transform: translateY(-5px);
}
.header-button:hover:before, .header-button:active:before, .header-button:focus:before {
  opacity: 1;
  transform: translateY(-2px);
}
@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
 }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
 }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
 }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
 }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
 }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
 }
}
.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}


/* --------------- Footer --------------- */

footer {
  background-color: #eee;
}

footer ul {
  list-style: none;
}

.footer-button {
  color: #000;
}


/* --------------- Login --------------- */

.login .container {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.login .container-md {
  align-self: center;
  justify-content: center;
  width: 50%;
}


/* --------------- Responsividade --------------- */


@media (max-width: 1200px) {
  .login .container-md {
    width: 55%;
  }
}

@media (max-width: 992px) {
  .login .container-md {
    width: 70%;
  }
}

@media (max-width: 765px) {
  .login .container-md {
    width: 75%;
  }
}

@media (max-width: 630px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar ul li {
    margin-bottom: 15px;
    text-align: end;
    width: 150px;
  }

  .navbar ul li a {
    justify-content: flex-end;
  }

}
